* {
  padding: 0;
  margin: 0;
}

.aeroplane-section {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: url(./images/Aeroplane.jpg);
  overflow: hidden;
}

.overlay {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1a1c20ef;
  position: relative;
  /* overflow: hidden; */
}

.line {
  z-index: 999;
  position: absolute;
  top: 40%;
}

.container {
  padding: 1.5rem 5rem 0 5rem;
}

.container-two {
  padding-top: 115px;
}

.border {
  border: solid 1px #f9813a;
  top: -14%;
  right: -5%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}

.border--1 {
  border: solid 1px #f9813a;
  top: 84%;
  right: 87%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 999;
}

/* LOGO-HEADER-DIV */
.logo-header-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* LOGO*/
.trip {
  font-size: 26px;
  font-family: poppins;
  font-weight: 400;
  color: #f9813a;
  text-transform: capitalize;
}

.advisor {
  font-size: 26px;
  font-family: poppins;
  font-weight: 600;
  color: #f9813a;
  text-transform: capitalize;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
/* mobile-navigation */
.menuOpen {
  width: 3rem;
  height: 2.5rem;
  display: none;
  stroke: #a9e2ee;
  cursor: pointer;
  transition: all 0.3s;
  z-index: 999;
}

.menuOpen:hover {
  background-color: #f9813a;
  stroke: #ffffff;
  border-radius: 3px;
}

.menuClose {
  width: 2rem;
  height: 2rem;
  display: none;
  stroke: #a9e2ee;
  cursor: pointer;
  z-index: 999;
  transition: all 0.3s;
}

.menuClose:hover {
  background-color: #a9e2ee;
  stroke: #20313b;
  border-radius: 3px;
}

.main-link,
.link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: poppins;
  gap: 20px;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 21px;
}

.two-anchor,
a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  font-family: poppins;
  gap: 20px;
  list-style: none;
  text-decoration: none;
  text-transform: capitalize;
  color: #ffffff;
  line-height: 21px;
}
.two-anchor {
  margin-left: 40px;
}

.black-background {
  background-color: #1a1c20;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  border: solid 1px rgb(65, 64, 64);
}

.white-background {
  background-color: #ffffff;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  font-size: 14px;
  font-family: poppins;
  font-weight: 500;
  color: #000000;
  z-index: 999;
  text-transform: none;
  line-height: 21px;
}

/* HEADING SECTION */
.fixing-container {
  padding: 0 8.8rem;
}

.heading-section {
  position: relative;
}
.heading-one {
  font-family: poppins;
  font-size: 36px;
  font-weight: 600;
  line-height: 50px;
  color: #ffffff;
}

.search-bar {
  font-family: poppins;
  font-weight: 500;
  color: #000000;
  padding: 0.6rem 1rem;
  width: 300px;
  font-size: 15px;
  margin: 1.6rem 0;
  border-radius: 5px;
}

.search-btn {
  text-align: center;
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  padding: 0.7rem 1.3rem;
  line-height: 24px;
  width: 145px;
  background-color: #f9813a;
  color: #ffffff;
  border-radius: 5px;
  text-transform: capitalize;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}

/* CARD SECTION */
.new-container {
  padding: 0 5.5rem;
}
.card-section {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  position: absolute;
  top: 100%;
  z-index: 999;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 213px;
  height: 316px;
}

.fixing-top {
  margin-top: 3.8rem;
}

.city-image {
  width: 213px;
  height: 316px;
}

.fixing-image {
  height: 271px;
}

.city-name {
  font-family: poppins;
  font-weight: 500;
  font-size: 15px;
  line-height: 22.5px;
  color: #f9813a;
  text-transform: capitalize;
}

.country-name {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
  text-transform: capitalize;
}

/* ABOUT US SECTION */
.aboutus-section {
  margin-top: 20.5rem;
  padding: 0 8rem;
}

.heading-three {
  font-family: poppins;
  font-weight: 500;
  color: #f9813a;
  line-height: 34px;
  font-size: 24px;
  margin-bottom: 5px;
}

.about-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

.about-heading {
  font-family: Poppins;
  font-weight: 600;
  font-size: 36px;
  line-height: 54px;
  color: #20313b;
}

.about-paragraph {
  font-size: 18px;
  font-family: poppins;
  font-weight: 400;
  line-height: 33px;
  color: #666;
}

.learnmore-btn {
  font-size: 18px;
  font-family: poppins;
  font-weight: 400;
  line-height: 30px;
  color: #ffffff;
  background-color: #f9813a;
  text-decoration: none;
  width: 100px;
  text-align: center;
  align-items: center;
  border-radius: 4px;
  padding: 0.2rem 0.8rem;
  margin-top: 1rem;
}

/*recommendation-heading  */
.recommendation-heading {
  padding: 0 8rem;
  font-size: 36px;
  font-family: poppins;
  line-height: 54px;
  letter-spacing: -5%;
  color: #20313b;
  text-transform: capitalize;
  margin-top: 5rem;
}

.recommend-div {
  display: flex;
  gap: 2.9rem;
  align-items: center;
  padding: 0 8rem;
  margin-top: 8px;
}

.popular {
  font-size: 18px;
  font-family: poppins;
  font-weight: 600;
  line-height: 27px;
  color: #20313b;
  letter-spacing: -5%;
  text-transform: capitalize;
}
.adventure {
  font-family: poppins;
  font-weight: 500;
  line-height: 27px;
  color: #7f8283;
  letter-spacing: -5%;
  text-transform: capitalize;
}

.progress-div {
  padding: 0 8rem;
  margin-bottom: 4rem;
  border-radius: 7px;
}

.progress {
  width: 296px;
  height: 6px;
  border: none;
  background-color: #c4c4c4;
  border: solid 1px #c4c4c4;
  border-radius: 10px;
}

.progress-line {
  width: 23%;
  height: 6px;
  background-color: #20313b;
  transform-origin: left;
  border-radius: 6px;
}

/* CARDS SECTION */
.section-cards {
  padding: 0 5rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.cards-image {
  width: 272px;
  height: 346px;
  border-radius: 20px;
}

.cards-div {
  position: relative;
}

.location-div {
  width: 207px;
  height: 50px;
  background-color: #000000;
  opacity: 65%;
  position: absolute;
  top: 75%;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 1rem 2rem;
}

.paragraph-location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  text-align: center;
}

.penida {
  font-size: 18px;
  font-family: Roboto;
  font-weight: 600;
  line-height: 21.9px;
  color: #ffffff;
  text-transform: capitalize;
}

.icon {
  width: 1rem;
  height: 1rem;
  stroke: #ffffff;
}

.location-name {
  font-family: roboto;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  line-height: 18.75px;
  text-transform: capitalize;
}

/* FOR SPECIAL OFFER*/
.sub-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  font-family: poppins;
  color: #20313b;
  text-align: center;
  text-transform: capitalize;
  margin-top: 3.4rem;
  margin-bottom: 10px;
}

.offer-div {
  display: flex;
  gap: 3rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.family {
  font-family: poppins;
  font-size: 18px;
  letter-spacing: -5%;
  line-height: 27px;
  font-weight: 500;
  text-transform: capitalize;
  color: #20313b;
}

.couple-team {
  color: #c4c4c4;
}

.div-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer-progress {
  width: 275px;
  height: 6px;
  border: none;
  border-radius: 10px;
  background-color: #c4c4c4;
}

.offer-line {
  width: 22%;
  height: 6px;
  background-color: #000000;
  border-radius: 3px;
}

/* THREE CARD SECTION */
.threeCard-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 4rem 0;
}

.card-group2 {
  position: relative;
}

.location-div2 {
  width: 207px;
  height: 70px;
  background-color: #20313b;
  position: absolute;
  top: 70%;
  overflow: hidden;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem 2rem;
}

.penida-fix {
  margin-bottom: 3px;
}

.font-size {
  font-size: 15px;
}
span {
  font-size: 16px;
  font-weight: 500;
  text-transform: none;
}

.color-icon {
  stroke: #ffd700;
}

.testimonial-section {
  padding: 0 5rem;
}

.four-heading {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  font-family: poppins;
  color: #20313b;
  text-transform: capitalize;
}

.testimonial-div {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 6px;
}

.video {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -5%;
  color: #20313b;
}

.video-fix {
  color: #c4c4c4;
}

.testimonial-progress {
  width: 165px;
  height: 6px;
  border: none;
  background-color: #c4c4c4;
  border-radius: 20px;
}

.testimonial-line {
  width: 32%;
  height: 6px;
  background-color: #000000;
  border-radius: 5px;
}

/* FOR TESTIMONIALS */
.testimonials-section {
  margin: 3rem 15rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.test1-4 {
  width: 180px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 4px 0px 30px 0px #0000001f;
  padding: 2.5rem 1.5rem 0.8rem 1.5rem;
  position: relative;
}

.lorem-ipsum {
  font-family: poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  color: #20313b;
}

.quotes {
  background-color: #ffffff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -16%;
  right: 40%;
  box-shadow: 4px 0px 30px 0px #0000001f;
}

.align {
  text-align: center;
}
.boxshadow {
  box-shadow: none;
}

i {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 2em;
  color: #000000;
  align-items: center;
}

.vertical-flex {
  display: flex;
  gap: 3rem;
}

/* FOR RESARVATION SECTION */
.resarvation-section {
  margin: 8rem 0;
  width: 100%;
  height: 100vh;
  background-image: url(./images/mist-2.png);
  position: relative;
}
.resarvation-div {
  position: absolute;
  width: 460px;
  height: 385px;
  top: 50%;
  left: 50%;
  padding: 2rem 2rem 1rem 2rem;
  background-color: #ffffff;
  opacity: 50%;
  border: solid 2px #ffffff;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  border: solid 1pt #fff;
}

.resarvation-heading {
  font-family: poppins;
  font-size: 30px;
  line-height: 45px;
  text-transform: capitalize;
  font-weight: 600;
  color: #20313b;
  text-align: center;
  margin-bottom: 20px;
}

.gest-dates {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.heading-form {
  font-size: 20px;
  font-family: poppins;
  text-transform: capitalize;
  font-weight: 500;
  color: #20313b;
  line-height: 40.5px;
}

.select-input,
select {
  width: 13rem;
  height: 2.3rem;
  /* border: ; */
  background-color: #fff;
  font-family: poppins;
  font-size: 15px;
  font-weight: 500;
  color: #20313b;
  text-transform: capitalize;
  border-radius: 7px;
  margin-bottom: 1rem;
}

.destination-room {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.btn-resarvation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resarvation-btn {
  background-color: #20313b;
}

/* FROM THE BLOG SECTION */
.blog-section {
  position: relative;
}
.blog-heading {
  font-family: poppins;
  font-size: 30px;
  color: #20313b;
  font-weight: 600;
  text-align: center;
  line-height: 54px;
  margin-bottom: 7rem;
}

.from-blog-section {
  padding: 0 9rem 15rem 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.imageInstead-video {
  width: 556px;
  height: 400px;
  border-radius: 20px;
}

.enjoyment-video {
  width: 556px;
  height: 100%;
  border-radius: 20px;
}

.bloggers-div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blogger-one {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.bloggerOne-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.blogger-word {
  font-family: poppins;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #20313b;
}

.blogger-name {
  font-family: poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 22.5px;
  text-transform: capitalize;
  color: #c4c4c4;
  margin-top: 6px;
}

.sub-page {
  margin: 0 10rem;
  width: 1000px;
  height: 200px;
  background-color: #ffffff;
  box-shadow: 0px 4px 40px 0px #20313b26;
  position: absolute;
  top: 87%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.fix-subpage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.subscribe {
  font-size: 36px;
  font-family: poppins;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 54px;
  letter-spacing: -5%;
  color: #20313b;
}

.subPage-email {
  width: 253px;
  height: 30px;
  font-family: poppins;
  font-weight: 400;
  font-size: 18px;
  padding: 0.2rem 1rem;
  letter-spacing: -5%;
  line-height: 22.5%;
  border-radius: 7px;
  color: #20313b;
  background: #c4c4c466;
  border: none;
}

.emal-subscribe {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  justify-content: center;
}

.sub-scribe {
  width: 131px;
  height: 35px;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  font-size: 16px;
  font-family: poppins;
  color: #ffffff;
  background-color: #20313b;
  border-radius: 7px;
  letter-spacing: -5%;
  line-height: 24px;
  text-transform: capitalize;
  cursor: pointer;
}

/* FOOTER SECTION */
.new-footer {
  width: 100%;
  height: 80vh;
  background-color: #20313b;
}

.hellow-foter {
  display: grid;
  grid-template-columns: 0.6fr 0.3fr 0.3fr 0.3fr;
  gap: 1rem;
  padding: 10rem 8rem 0 8rem;
  margin-bottom: 5rem;
}

.social-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2.5rem;
  margin-top: 10px;
}

.social-icon,
i {
  width: 30px;
  height: 30px;
  color: #a9e2ee;
}
/* .social-netwerk {
  width: 30px;
  height: 30px;
  stroke: #A9E2EE;
} */

.in {
  font-size: 30px;
  font-family: poppins;
  font-weight: 600;
  line-height: 27px;
  width: 31px;
  color: #a9e2ee;
  margin-top: 20px;
}

.contact-number {
  font-family: poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 37px;
  color: #a9e2ee;
}

.trip-email {
  font-family: poppins;
  font-weight: 400;
  color: #a9e2ee;
  font-size: 18px;
  line-height: 37px;
}

/* copmany */
.last-heading {
  font-family: poppins;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #a9e2ee;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.sub-menu {
  font-family: poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
  color: #a9e2ee;
}

.copyright-word {
  font-family: poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #a9e2ee;
  text-align: center;
}
